/*Datatable Design */
/*.dataTables_wrapper {
    font-family: tahoma;
    font-size: 14px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}*/

/* Message error */
#other{
    color: red;
}


.circle-textTop {
    width:50%;
}
.circle-textTop:after {
	border: 4px solid #a7caf2;
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-textTop div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
}
.contentHeader{
	font-size: 35px;
}

.contentText{
	color: blue;
}

.circle-textBottom {
    width:50%;
}
.circle-textBottom:after {
	border: 4px solid;
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-textBottom div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
}

.container .row div{
    display: block;
}

.btn-circle-lg {
  width: 139px;
  height: 139px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 1.00;
  border-radius: 130px;
}
.border-light{
    border: 4px solid #a7caf2;
}
.border-orange{
    border: 4px solid #f4d430;
}
.border-green{
    border: 4px solid #6ff263;
}
.border-red{
    border: 4px solid #db1a27;
}
.border-gray{
    border: 4px solid #d6cbcc;
}
.border-violet{
    border: 4px solid #CD48BF;
}
.border-peach{
    border: 4px solid #ECBF2C;
}
.border-blue{
    border: 4px solid #0360D2;
}
.border-peach{
    border: 4px solid #ECBF2C;
}
.border-peach{
    border: 4px solid #ECBF2C;
}
.border-yellow{
    border: 4px solid #F7FE27;
}
.border-black{
    border: 4px solid #010101;
}

    /* Reports Drop Down Menu */
    /* Dropdown Button */
    .dropbtn {
        padding: 16px;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Vertical Align */
    .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
    }
    .testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
    }

